.add-option-error {
  padding: $m-size;
  margin: $m-size 0 0 0;
  font-style: italic;
  color: $off-white;
}

.add-option {
  display: flex;
  flex-direction: column;
  padding: $m-size;
}

.add-option-input {
  flex-grow: 1;
  padding: $s-size;
  margin: 0 0 $s-size 0;
  color: $off-white;
  background-color: $dark-blue;
  border: 0;
  border-bottom: .3rem solid darken($dark-blue, 10%);
}

@media (min-width: $desktop-breakpoint) {
  .add-option {
    flex-direction: row;
  }

  .add-option-input {
    margin: 0 $s-size 0 0;
  }
}
